python-multipart
flask
joblib
scikit-learn==1.2.2
opencv_python
flask-cors
fastapi==0.110.1
keras
matplotlib==3.8.2
numpy==1.26.4
opencv_python==4.9.0.80
opencv_python_headless==4.8.1.78
pandas==2.2.2
tensorflow
uvicorn==0.29.0
