/node_modules
/__pycache__
.env
/.env
*.env
target/
project/target/
project/boot/
project/plugins/project/
lib_managed/
src_managed/
.ensime*
.idea/
*.iml
*.ipr
*.iws
.metals/
.bloop/
.vscode/
.cache/
.worksheet/
